@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  overscroll-behavior-y: none; 
}

#navbar li {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.background {
  background: rgb(255, 253, 208);
}

.title-font {
  font-family: 'Damion', cursive;
}

.text-font {
  font-family: 'Nunito', sans-serif;
}

.animation {
  animation: fade 2 4s ease-in forwards
}

.animationEnd {
  animation: fadeIn 2s ease-in;
}

@keyframes fade {

  from, to { opacity: 0%; }
  50% { opacity: 100%;}  
}


@keyframes fadeIn {

  from { opacity: 0%; }
  to { opacity: 100%;}  
}


@layer base {
    h1 {
      @apply text-3xl lg:text-7xl font-black;
    }
    h2 {
      @apply text-2xl lg:text-4xl ;
    }
    h3 {
      @apply text-xl lg:text-3xl;
    }
    h4 {
      @apply text-xl ;
    }
    h4 {
      @apply text-lg ;
    }
  }

  